@model AccountManagement.Models.ForgotPasswordView
@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
<link href="~/Content/skin-blue-light.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/ionicons.min.css" rel="stylesheet" />
<body class="lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a><b>Account</b>Management</a>
        </div>
        <!-- User name -->
        <div class="lockscreen-name">Forgot Password</div>
        <!-- START LOCK SCREEN ITEM -->
        <div class="lockscreen-item">
            <!-- lockscreen credentials (contains the form) -->
            @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "lockscreen-credentials", role = "form" }))
                {
                @Html.AntiForgeryToken()
                
                 <div class="input-group">
                    @Html.TextBoxFor(m => m.Account, new { @class = "form-control", @placeholder = "Enter your account", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.Account, "", new { @class = "text-danger" })
                    <div class="input-group-btn">
                        <button type="submit" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
                    </div>
                </div>
                }
            <!-- /.lockscreen credentials -->
        </div>
        <!-- /.lockscreen-item -->
        <div class="help-block text-center">
            Enter your account name to receive password
        </div>
        <div class="text-center">
            <a href="/Home">Back to login</a>
        </div>

    </div>
    <!-- /.center -->

</body>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/app.min.js"></script>
 <!-- Validate Client-side -->
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>